@import 'components/chat';
@import 'components/createRoom';
@import 'components/currentRoomList';
@import 'components/publicRoomList';
@import 'components/inviteUser';
@import 'components/room';
@import 'components/roomUserList';
@import 'components/register';

body {
  font-family: sans-serif;
  font-size: .75em;
}

ul {
  list-style-type: none;
  padding: 0;
}