.create-room {
  span {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
  }
}

.create-room-form {
  text-align: center;
  input[type="text"] {
    display: block;
    margin: auto;
  }
}